@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
    --prymary: #f9a7bd;
    --secundary: #500718;
    --try: #a0ac7d;
    --color-light: rgba(132, 139, 200, 0.18);
    --card-border-radius: 2rem;
    --border-radius-l: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-l: 1.2rem;
    --box-shadow: e 2rem 3rem var(--color-light);
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400rem;
}

body{
    background-image: url('fondo.png');
    
}

div.sobre1{
    height: 280px;
    width: 300px;
    background-color: var(--prymary);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding-l);
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
}

img {
    margin-top: 20px;
    height: 240px;
}

div.head, div.regalo_uno{
    color: var(--secundary);
    font-size: 1.6rem;
    background-color: var(--prymary);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding-l);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.regalo_uno:target { 
    display: block;
}

div.regalo_uno{
    color: var(--secundary);
    font-size: 1.6rem;
    background-color: var(--prymary);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding-l);
    text-align: center;
    align-items: center;
    position: absolute;
    display: none;
}

div.boton {
    background-color: var(--try);
    height: 2.8rem;
    text-align: center;
    width: 30%;
    border-radius: var(--card-border-radius);
}

a#btn-close {
    margin-top: 6rem;
    text-decoration: none;
    color: var(--secundary);
}

div.boton#cerras23 {
    margin-top: 1rem;
}

div.playlist {
    color: var(--secundary);
    font-size: 1.6rem;
    background-color: var(--prymary);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}

div.container:target { 
    display: block;
}

div.sobres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    pointer-events: all;
}

div.container {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
}